*{
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  margin: 20;
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
  background-color: #F5F5DC;
  }
h1 {
  font-size:90px;
  color:#00FF00;
  background-color: black;
  width: 400px;
  border: 25px solid red;
  padding: 25px;
  margin: 25px;
  }
h2 {
  font-size: 50px;
  color: #000;
  text-shadow: 2px 2px 5px #00ff00;
  padding-top: 50px;
  }
ul{
  text-align: center;
  }
ul li{
  display: inline-block;
}
ul li a{
  font-size: 25px;
  color:red;
  text-shadow: 2px 2px 5px #00ff00;
  font-family: tahomal;
  text-decoration: none;
  display: block;
  padding: 2px 5px;
  }
ul li a:hover{
  color: black;
  }

  img{
    padding-top: 50px;
  }
a.Hometab{
  text-decoration: underline;
}
