<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/2420_DepthFirstPaths/src/depthFirstPaths/DepthFirstPaths.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="depthFirstPaths.DepthFirstPaths"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\Users\Jp\Documents\School\GraphExercise06.txt 1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="2420_DepthFirstPaths"/>
</launchConfiguration>
