<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/2420_Assignment Kd-Trees/src/kdTrees/KdTree.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="kdTrees.KdTree"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="https://raw.githubusercontent.com/atemp21/CS2420/master/A05%20Kd%20Trees/src/one.txt 0"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="2420_Assignment Kd-Trees"/>
</launchConfiguration>
