<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/LabKeyValuePair 1/src/keyvaluepair1/PairApp.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="keyvaluepair1.PairApp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LabKeyValuePair 1"/>
</launchConfiguration>
